.abt-p-v{
    padding-top: 20px;
}
.abt-p-v img{
    border-radius: 20px 0px 0px 20px;
    padding-top: 10px;
}
.name{
    margin: 20px 0px 0px 30px;
    height: auto;
    width: 80%;
    /* background-color: pink; */
}
.name #h2{
    font-size: 30px;
    font-family: Bembo;  
}
#pro_d {
    display: flex;
    margin-top: 0px;
}

#pro_d font{
    font-family: Bembo;   
}
#pro_d font,h2{
    font-family: Bembo;   
}
#pro_d #h2{
    font-size: 20px;
}

.pro-det{
    padding: 10px;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 5px;
    /* background-color:pink; */
    width: 600px;
    height: 460px;
    /* box-shadow: 0px 0px 5px 1px gray; */
}
sup{
    color:black;
}
.pro-det i{
    font-size:20px;
    color: gold;
}
#star{
    color: rgb(253, 216, 8,0.8);
    font-size: 18px;
}

#pro_d{
    box-shadow: 0px 0px 15px 1px gray;
}
#pro_d .first_img{
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-top: 0px;
    width: 40%;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.small_img_cont{
    margin-left: 0px;
    padding-left: 5px;
    margin-top: 30px;
    width: 110px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.small_img_cont .small_imgs{
    margin-top: 10px;
    width: 80px;
    flex-basis: 24%;
    cursor: pointer;
    /* background-color: rgb(151, 151, 151,0.5); */
}
.gallery{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(248, 241, 229,0.3);
    margin-left: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px gray;
    /* border: 1px solid black; */
}
.lapad{
    margin: 5px;
    background-color: rgb(240, 248, 255,0.4);
    border-radius: 5px;
}
.lapad img{
    border-radius: 10px;
    padding: 5px;
    height: 220px;
    width: 440px;
}
.biglapad img{
    margin-top: 10px;
    /* margin-bottom: 10px; */
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

}